.dealerComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 150px;
  margin-top: 10px;
  background-color: #d5d7ce;
}

.dealer {
  width: 300px;
  height: 125px;
  border-radius: 10px;
}
.deck {
  display: flex;
  justify-content: center;
  width: 125px;
  height: 125px;
  cursor: pointer;
  border-radius: 10px;
}
.burnPile {
  display: flex;
  justify-content: center;
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.cardDeck {
  object-fit: contain;
}
