.play_area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  width: 1000px;
  height: 650px;
}

.player{
  width: 45%;
  height: 90%;
  background-color: brown;
  border-radius: 20px;
  transition: 0.2s;
}

.attack {
  width: 100px;
  height: 35px;
  border-radius: 9px;
}

.hand{
  width: 100px;
  height: 100px;
  font-size: 30pt;
  font-weight: bold;
  color: azure;
}