.play_area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1100px;
  height: 550px;
}

.attack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: rgb(93, 162, 222);
  font-size: 24pt;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  box-shadow: 2px 3px 3px #2e2e2f9e;
}

.health {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30pt;
  height: 100px;
  width: 100px;
  font-weight: bold;
  color: rgb(36, 48, 48);
  margin: 65px;
  margin-top: 75px;
  /* background-color: blue; */
  border-radius: 100px;
  border: solid;
  border-color: aqua;
}
.handCards {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;

  background-color: rgb(204, 154, 120);
}
.cardsArea {
  display: flex;
  width: 100%;
  align-items: center;

  background-color: rgb(175, 92, 40);
}

.card {
  margin: 10px;
  position: relative;
  width: 75px;
  height: 105px;
  min-width: 75px;
  min-height: 105px;
  background-size: contain;
  background-color: rgb(180, 198, 213);
  border-radius: 5px;
  box-shadow: 2px 3px 2px #2e2e2f7b;
}

.player1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  width: 500px;
  height: 500px;
  /* background-color: rgb(191, 191, 191); */
  border-radius: 30px;
  transition: 0.1s;
  overflow: hidden;
  background-repeat: no-repeat;
}
.player2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  width: 500px;
  height: 500px;
  /* background-color: rgb(197, 63, 63); */
  border-radius: 20px;
  transition: 0.1s;
  overflow: hidden;
  background-repeat: no-repeat;
}

.damage {
  position: absolute;
  color: red;
  transition: 0.2s;
}

.dot {
  background-color: aqua;

  top: 500;
  right: 500;
  height: 20px;
  width: 100%;

}
